#header {
    text-align: center;
}

button {
    padding: 5px 10px;
    margin-left: 5px;
}

#logout {
    float: right;
    padding: 5px 10px;
}

#camera-container {
    width: 100%;
    max-width: 854px;
    height: 100%;
}

#camera-iframe {
    position: relative;
    padding-bottom: 56%;
}

#camera-iframe iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#joystick {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 10px auto;
}

@media screen and (max-width: 870px) {
    .hide-mobile {
        display: none;
    }
}

@media screen and (min-width: 870px) {
    body {
        width: 870px;
        margin: 0 auto;
    }

    .hide-desktop {
        display: none;
    }
}
